/* Regular */
@font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYREGULAR.OTF') format('opentype');
    font-weight: 400;
    font-style: normal;
  }
  
  /* Italic */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYITALIC.OTF') format('opentype');
    font-weight: 400;
    font-style: italic;
  }
  
  /* Light */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYLIGHT.OTF') format('opentype');
    font-weight: 300;
    font-style: normal;
  }
  
  /* Light Italic */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYLIGHTITALIC.OTF') format('opentype');
    font-weight: 300;
    font-style: italic;
  }
  
  /* Medium */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYMEDIUM.OTF') format('opentype');
    font-weight: 500;
    font-style: normal;
  }
  
  /* Medium Italic */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYMEDIUMITALIC.OTF') format('opentype');
    font-weight: 500;
    font-style: italic;
  }
  
  /* Bold */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYBOLD.OTF') format('opentype');
    font-weight: 700;
    font-style: normal;
  }
  
  /* Bold Italic */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYBOLDITALIC.OTF') format('opentype');
    font-weight: 700;
    font-style: italic;
  }
  
  /* Black */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYBLACK.OTF') format('opentype');
    font-weight: 900;
    font-style: normal;
  }
  
  /* Black Italic */
  @font-face {
    font-family: 'SF Pro Display';
    src: url('../font/SFPRODISPLAYBLACKITALIC.OTF') format('opentype');
    font-weight: 900;
    font-style: italic;
  }